@tailwind base;
@tailwind components;
@tailwind utilities;

.default-shadow {
  -webkit-box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.36);
box-shadow: 3px 2px 14px 0px rgba(0,0,0,0.36);
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

.react-tabs__tab-panel--selected {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}